<section class="login-forms">
  <form 
    fxLayoutGap="10px" 
    fxLayout="column" 
    fxLayoutAlign="center center"
    (ngSubmit)="onSubmit()"
    [formGroup]="loginForm"
    >
    <h1>로그인</h1>
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="이메일을 적어주세요."
        formControlName="email"
      >
    <mat-error>올바르지않은 이메일 형식입니다.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="비밀번호는 6자리 이상이어야합니다.">
      <input 
        type="password" 
        matInput 
        placeholder="비밀번호를 입력해주세요."
        formControlName="password"
      >
      <mat-error>비밀번호가 틀렸습니다.</mat-error>
    </mat-form-field>
    <button mat-raised-button class="submit-btn" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">로그인</button>
  </form>
</section>