<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input type="text" matInput (keyup)="doFilter($event.target.value)" placeholder="검색">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>일시</th>
    <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>이름</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>칼로리</th>
    <td mat-cell *matCellDef="let element">{{ element.calories | number }}</td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>완료율</th>
    <td mat-cell *matCellDef="let element">{{ element.duration | number }}</td>
  </ng-container>
  
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>상태</th>
    <td mat-cell *matCellDef="let element">{{ element.state }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [length]="100"
              [pageSize]="3"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
