<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="400px">
    <mat-card-title>달립시다!</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>운동리스트</mat-label>
        <mat-select>
          <mat-option>테니스</mat-option>
          <mat-option>헬스</mat-option>
          <mat-option>마라톤</mat-option>
          <mat-option>탁구</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button color="primary">시작</button>
    </mat-card-actions>
  </mat-card>
</section>
