<section class="signup-forms">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="이메일주소" 
        ngModel 
        name="email"
        email
        required
        #emailInput="ngModel"
      >
      <mat-error *ngIf="emailInput.hasError('required')">이메일주소를 반드시 적어주세요.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">올바른 이메일주소가 아닙니다.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="비밀번호는 6자리 이상이어야합니다.">
      <input 
        type="password" 
        matInput 
        placeholder="비밀번호"
        ngModel 
        name="password"
        required
        minlength="6"
        #passwordInput="ngModel"
      >
      <mat-hint align="end">{{ passwordInput.value?.length }}/ 6</mat-hint>
    </mat-form-field>

    <button class="submit-btn" type="submit" mat-raised-button color="primary">button</button>
  </form>
</section>