<section class="signup-forms">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="이메일주소" 
        ngModel 
        name="email"
        email
        required
      >
    </mat-form-field>
    <mat-form-field>
      <input 
        type="password" 
        matInput 
        placeholder="비밀번호"
        ngModel 
        name="password"
        required
        minlength="6"
      >
      <mat-hint>비밀번호는 6글자 이상이어야합니다.</mat-hint>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">button</button>
  </form>
</section>