<div><button mat-raised-button>Click me!</button></div>
<div><button mat-button>click me123</button></div>
<div><button mat-flat-button>click me</button></div>
<div><button mat-stroked-button>click me</button></div>
<div><button mat-icon-button>click me</button></div>
<div><button mat-fab>click me</button></div>
<div><button mat-mini-fab>click me</button></div>

<div>
  <mat-slider step="4" tickInterval="3"></mat-slider>
</div>
<div>
  <mat-slider thumbLabel tickInterval="1"></mat-slider>
</div>
<div>
  <mat-slider tickInterval="auto"></mat-slider>
</div>
<div>
  <mat-slider step="4" tickInterval="3"></mat-slider>
</div>
<div>
  <mat-slider vertical></mat-slider>
</div>
<div>
  <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
</div>
