<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list fxFlex fxLayout="column">
      <a mat-list-item routerLink="/" (click)="sidenav.close()"><mat-icon>home</mat-icon></a>
      <a mat-list-item routerLink="/signup" (click)="sidenav.close()">회원가입</a>
      <a mat-list-item routerLink="/login" (click)="sidenav.close()">로그인</a>
      <a mat-list-item routerLink="/training" (click)="sidenav.close()">트레이닝</a>
      <button mat-list-item (click)="sidenav.close()">
        <span>로그아웃</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-xs>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">로고</a>
      </div>
      <div fxFlex fxLayoutAlign="flex-end" fxLayoutGap="10px" fxHide.xs>
        <a routerLink="/signup">회원가입</a>
        <a routerLink="/login">로그인</a>
        <a routerLink="/training">트레이닝</a>
        <a>로그아웃</a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
